*.swp
**/.ptp-sync/**
**/Debug/**
**/CMakeFiles/**
**/CMakeCache.txt
**/compile_commands.json
*.o
*.a
*.make
**/cmake_install.cmake
**/core/**
**/tags/**
**/Makefile
.settings/**
.cproject
.project
.idea/**
